/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2014 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/licenses/fontsite/webfont
 *
 *
 */

@font-face {
    font-family: 'franklin_gothic_fsbook';
    src: url('franklingothic-book-webfont1.eot');
    src: url('franklingothic-book-webfont1.eot?#iefix') format('embedded-opentype'),
         url('franklingothic-book-webfont1.woff2') format('woff2'),
         url('franklingothic-book-webfont1.woff') format('woff'),
         url('franklingothic-book-webfont1.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'franklin_gothic_demi';
    src: url('franklingothic-demi-webfont.eot');
    src: url('franklingothic-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('franklingothic-demi-webfont.woff2') format('woff2'),
         url('franklingothic-demi-webfont.woff') format('woff'),
         url('franklingothic-demi-webfont.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;

}