
<html>
<head>
	<title>FCW 2015  - Vehicles of Interest</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>


	<script type='text/javascript' charset='utf-8'>
		// Hides mobile browser's address bar when page is done loading.
		window.addEventListener('load', function(e) {
			setTimeout(function() { window.scrollTo(0, 1); }, 1);
		}, false);
	</script>

	<link rel="stylesheet" href="page2_files/ford-fonts.css" />
	<link rel="stylesheet" href="page2_files/stylesheet.css" />

	<link rel="stylesheet" href="page2_files/style.css" />
<!-- 	<link rel="stylesheet" type="text/css" media="only screen and (max-width: 1080px)" href="style-mobile.css" />
 -->
	<script type="text/javascript" src="page2_files/jquery-2.1.1.min.js"></script>

	<script type="text/javascript" src="page2_files/jquery-ui.js"></script>
	<link rel="stylesheet" href="page2_files/jquery-ui.css" />

	<script type="text/javascript" src="page2_files/jquery.datetimepicker.js"></script>
	<link rel="stylesheet" href="page2_files/jquery.datetimepicker.css" />

	<script type="text/javascript" src="page2_files/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="page2_files/jquery.formatter.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		var idleTime = 0;

		//$('.Select[data-name="State"]').closest('.Field').addClass('State');
		$('select#Current_Veh').closest('.Field').addClass('State');
		$('select#Purchase_Time').closest('.Field').addClass('State');
		$('select#Purchase_Lease').closest('.Field').addClass('State');

		$('.Select[data-name="Current_Vehicle_Brand"]').addClass('ScrollAble').find('ul').slimscroll({
			color: '#233746',
			size: '35px',
			height: '250px',
			alwaysVisible: true,
		});


		$('.Submit').mouseup(function() {
		}).mousedown(function(e) {
			$(this).find('a, input').trigger('click');
		});

		$('.VOI').click(function(){
			var checkBox = $(this).find('input[type="checkbox"]');
			if($(this).hasClass('Checked')){
				$(this).removeClass('Checked');
				checkBox.prop("checked", !checkBox.prop("checked"));
			}
			else if($('.Checked').length < 3){
				$(this).addClass('Checked');
				checkBox.prop("checked", !checkBox.prop("checked"));
			}
		});


		$('.VOI').find('span').each(function(){
			if($(this).outerHeight(true) > 40){
				$(this).css({
					'line-height': '16px',
					'padding': '4px 5px',
				});

			}
		});

		
		$(window).resize(function() {
			eMotorCons();
			sizeBoxes();
		});

		eMotorCons();

		function eMotorCons(){
			var wide = 1278;
			if(wide > $('body').outerWidth()){
				while(wide > $('body').outerWidth()){
					wide = parseInt(wide - 142, 10);
				}
				$('.VehiclesofInterest').css('max-width', wide+'px');
			}
		}
		
		$('.Radio').on('click', 'label', function(){
			$(this).closest('.Field').find('.active').removeClass('active');
			$(this).addClass('active');
		});

		$('body').on('click', 'input[type="checkbox"]', function(){
			$(this).closest('.Field').removeClass('Error');
		});

		$('input[name="Phone"]').formatter({
			'pattern': '({{999}}) {{999}}-{{9999}}',
		});

		$(':checked').each(function(){
			$(this).siblings('label').addClass('active');
		});

		$(document).bind("contextmenu",function(e) {
			0		});		


		// Prevent the backspace key from navigating back. Also, arrows. ~Jarod 150615
		$(document).unbind('keydown').bind('keydown', function (event) {
			var doPrevent = false;
			//if (event.keyCode === 8 or ) {
			if ($.inArray(event.keyCode, [46, 8, 9, 91, 92, 37, 39]) !== -1 ) {	
				var d = event.srcElement || event.target;
				if ((d.tagName.toUpperCase() === 'INPUT' && 
					(
						d.type.toUpperCase() === 'TEXT' ||
						d.type.toUpperCase() === 'PASSWORD' || 
						d.type.toUpperCase() === 'FILE' || 
						d.type.toUpperCase() === 'EMAIL' || 
						d.type.toUpperCase() === 'SEARCH' || 
						d.type.toUpperCase() === 'DATE' )
					) || 
					d.tagName.toUpperCase() === 'TEXTAREA') {
					doPrevent = d.readOnly || d.disabled;
				}
				else {
					doPrevent = true;
				}
			}

			if (doPrevent) {
				event.preventDefault();
			}
		});		
		
	});

	</script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){
	$('.VOI').find('span').each(function(){
			console.log($(this).outerHeight(true));
			if($(this).outerHeight(true) > 40){
				$(this).css({
					'line-height': '16px',
					'padding': '4px 5px',
				});

			}
		});	
	}, 100);	
});
</script>


<div class="Wrap VehiclesofInterest">
	<div class="Form">
		<div class="Title">Please send me some more info on these vehicles! (Choose three)</div>

		
	<div class="Fields">
		<div class="Field ">
			<div class="Label">
				<span class="FloatL">TRUCKS AND VANS </span><span class="FloatR">Built Ford Tough</span><span class="leaderline">&nbsp;</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 F-150.png">
				<input type="checkbox" name="VOI[]" value="2015 F-150.png">
				<span>f-150</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Super Duty.png">
				<input type="checkbox" name="VOI[]" value="2015 Super Duty.png">
				<span>super duty&reg;</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2017 Super Duty.png">
				<input type="checkbox" name="VOI[]" value="2017 Super Duty.png">
				<span>2017 super duty&reg;</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Transit Connect Wagon.png">
				<input type="checkbox" name="VOI[]" value="2015 Transit Connect Wagon.png">
				<span>transit connect wagon</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Transit Connect Van.png">
				<input type="checkbox" name="VOI[]" value="2015 Transit Connect Van.png">
				<span>transit connect</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Transit.png">
				<input type="checkbox" name="VOI[]" value="2015 Transit.png">
				<span>transit</span>
			</div>
				<div id="Break"></div>
		</div>
		<div class="Field ">
			<div class="Label">
				<span class="FloatL">CROSSOVERS AND SUVs </span><span class="FloatR">Be Unstoppable</span><span class="leaderline">&nbsp;</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Edge.png">
				<input type="checkbox" name="VOI[]" value="2015 Edge.png">
				<span>edge</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2016 Escape.png">
				<input type="checkbox" name="VOI[]" value="2016 Escape.png">
				<span>escape</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2017 Escape.png">
				<input type="checkbox" name="VOI[]" value="2017 Escape.png">
				<span>2017 escape</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Expedition.png">
				<input type="checkbox" name="VOI[]" value="2015 Expedition.png">
				<span>expedition</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2016 Explorer.png">
				<input type="checkbox" name="VOI[]" value="2016 Explorer.png">
				<span>explorer</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Flex.png">
				<input type="checkbox" name="VOI[]" value="2015 Flex.png">
				<span>flex</span>
			</div>
			<div id="Break"></div>
		</div>
		<div class="Field ">
			<div class="Label">
				<span class="FloatL">CARS </span><span class="FloatR"> By Design</span><span class="leaderline">&nbsp;</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 C-MAX Energi.png">
				<input type="checkbox" name="VOI[]" value="2015 C-MAX Energi.png">
				<span>c-max energi</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 C-MAX Hybrid.png">
				<input type="checkbox" name="VOI[]" value="2015 C-MAX Hybrid.png">
				<span>c-max hybrid</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Fiesta.png">
				<input type="checkbox" name="VOI[]" value="2015 Fiesta.png">
				<span>fiesta</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Focus.png">
				<input type="checkbox" name="VOI[]" value="2015 Focus.png">
				<span>focus</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Focus Electric.png">
				<input type="checkbox" name="VOI[]" value="2015 Focus Electric.png">
				<span>focus electric</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Focus ST.png">
				<input type="checkbox" name="VOI[]" value="2015 Focus ST.png">
				<span>focus st</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Fusion.png">
				<input type="checkbox" name="VOI[]" value="2015 Fusion.png">
				<span>fusion</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Fusion Energi.png">
				<input type="checkbox" name="VOI[]" value="2015 Fusion Energi.png">
				<span>fusion energi</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Fusion Hybrid.png">
				<input type="checkbox" name="VOI[]" value="2015 Fusion Hybrid.png">
				<span>fusion hybrid</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Mustang.png">
				<input type="checkbox" name="VOI[]" value="2015 Mustang.png">
				<span>mustang</span>
			</div>
			<div class="VOI">
				<img src="page2_files//2015 Taurus.png">
				<input type="checkbox" name="VOI[]" value="2015 Taurus.png">
				<span>taurus</span>
			</div>
			<div id="Break"></div>
		</div>

		<div class="Field "><span class="VOILabel">Current Vehicle Brand?</span><select name="Current_Veh" class="" id="Current_Veh"><option value="Select" >Select</option><option value="FD" >Ford</option><option value="BMW" >BMW</option><option value="BUI" >Buick</option><option value="CAD" >Cadillac</option><option value="CHV" >Chevrolet</option><option value="CHR" >Chrysler</option><option value="DOD" >Dodge</option><option value="GMC" >GMC</option><option value="HON" >Honda</option><option value="HYU" >Hyundai</option><option value="JEE" >Jeep</option><option value="KIA" >Kia</option><option value="LEX" >Lexus</option><option value="LIN" >Lincoln</option><option value="MAZ" >Mazda</option><option value="MER" >Mercedes-Benz</option><option value="MRC" >Mercury</option><option value="NIS" >Nissan</option><option value="PON" >Pontiac</option><option value="SAT" >Saturn</option><option value="SCI" >Scion</option><option value="TOY" >Toyota</option><option value="VW" >Volkswagen</option><option value="OTH" >Other</option></select></div><div class="Field "><span class="VOILabel">When will you obtain your next vehicle?</span><select name="Purchase_Time" class="" id="Purchase_Time"><option value="Select" >Select</option><option value="0_30Days" >0 - 30 Days</option><option value="1_3Months" >1-3 months</option><option value="4_6Months" >4-6 months</option><option value="7PlusMonths" >7+ months</option><option value="NoDefinitePlans" >No definite plans</option></select></div><div class="Field "><span class="VOILabel">Will your next vehicle purchase be new or used?</span><select name="Purchase_Lease" class="" id="Purchase_Lease"><option value="Select" >Select</option><option value="purchase" >New</option><option value="lease" >Used</option></select></div>
		<div id="Break"></div>

		<div class="Submit " style="cursor:pointer;">

		</div>

	</div>
<script>
$(document).ready(function() {

	$('.Required:not(:checkbox)').on('blur', function() {
		if($(this).hasClass('Select')){
			var getInputName = $(this).data('name');
			var value = $.trim($('input[name="'+getInputName+'"]').val());
		}
		else
			var value = $.trim($(this).val());

		if(value != ''){
			$(this).closest('.Field').removeClass('Error');
			if($(this).hasClass('Email')){
				if(validateEmail($(this).val()) === false){
					$(this).addClass('Error');
					$(this).closest('.Field').addClass('Error');
				}
				else{
					$(this).removeClass('Error');
					$(this).closest('.Field').removeClass('Error');				
				}
			}
		}
		else
			$(this).closest('.Field').addClass('Error');
	});


	$('.Dynamic').closest('.Field').each(function(){
		var dynamic_field_name = $(this).find('label').text();
		$(this).find('label').remove();

		$(this).find('.Dynamic').attr('name', $(this).find('.Dynamic').attr('name')+'[]');

		$(this).find('.Dynamic').wrap('<div class="Field Dynamic"></div>');
		var addLabel = '<label>'+dynamic_field_name+'</label>';
		$(this).find('div.Dynamic').prepend(addLabel);
		$(this).find('div.Dynamic').last().after('<div class="Add">Add '+dynamic_field_name+'</div><div class="Clear" id="Break"></div>');

		if($(this).find('div.Dynamic').length > 1){
			var cancel = '<span class="Cancel">X</span>';
			$(cancel).appendTo($(this).find('div.Dynamic'));				
		}
	});


	$('.Fields').on('click', '.Add', function() {
		var getRightField = $(this).closest('.Field').find('div.Dynamic');
		if($(getRightField).length < 2){
			var cancel = '<span class="Cancel">X</span>';
			$(cancel).appendTo(getRightField);
		}
		var newDiv = $(getRightField).first().clone().css('display', 'none');
		$(newDiv).find('input').val('');
		$(this).before(newDiv);
		$(newDiv).slideDown('fast');
	});

	$('.Fields').on('click', '.Cancel', function() {
		$(this).closest('div.Dynamic').slideUp('fast', function(){
			$(this).remove();
		});

		if($(this).closest('.Field').find('div.Dynamic').length < 3){
			$(this).closest('.Field').find('div.Dynamic').find('span').removeClass('Cancel').fadeOut('fast', function(){
				$(this).remove();
			});
		}
	});


	$('.Submit').append('<input type="hidden" name="submit_button" value="yes"><input type="submit" form="form" name="submit_button" value="">');
	$('.Fields').wrapAll('<form name="form" id="form" class="form" action="post-sweeps.php" method="post" novalidate="novalidate"></form>');



	$('body').on('click', '.Select span', function(e){
		$(this).closest('div.Select').find('span').text($(this).data('value')).css('color', '#414042');		
		$(this).closest('.Select').find('.slimScrollDiv, ul').slideDown('slow');
		$(this).closest('.Select').find('span').css('background-image', 'url(./site/select-up.png)');
		$(this).closest('.Select').find('.slimScrollDiv, ul').addClass('open');
		e.stopPropagation();
	});

	$('body').on('click', '.Select ul li', function(e){
		$(this).closest('div.Select').find('span').text($(this).text()).css('color', '#000');
		$(this).closest('.Select').find('.slimScrollDiv, ul').slideUp('slow');
		$(this).closest('.Select').find('span').css('background-image', 'url(./site/select-down.png)');
		$(this).closest('.Field').removeClass('Error');

		var name = $(this).closest('.Select').data('name');
		$('input[name="'+name+'"]').attr('value', $(this).data('value'));

		// console.log($(this).data('value'));

		if($(this).closest('div.Select').data('name') == 'To_Shift_or_Not_to_Shift?'){
			var div = $(this).closest('div.Select').find('span').wrapInner('<div class="smaller"></div>');
		}
		e.stopPropagation();
	});

	$('body').on('click', '.Form', function(){
		$('.open').closest('div.Select').find('span').text(
			$('input[name="'+$('.open').closest('.Select').find('span').data('value')+'"]').val()
		).css('color', '#414042');		

		$('.open').slideUp('fast').removeClass('open');
	});



	function validateForm(){
		var error = 0;
		var current = '';

		$('#form').find('.Required[name$="[]"]').each(function(){
			var name = $(this).attr('name');
			if(current != name){
				current = name;
				if($(this).attr('type') == 'checkbox' && $('.Required[name="'+name+'"]:checked').length < 1){
					$('.Required[name="'+name+'"]').addClass('Error');
					var error_msg = '';
					$(this).closest('.Field').append(error_msg);
					$(this).closest('.Field').addClass('Error');
					error = 1;
				}
				else if($(this).attr('type') == 'checkbox' && $('.Required[name="'+name+'"]:checked').length > 0){
					$('.Required[name="'+name+'"]:checked').removeClass('Error');
					var error_msg = '';
					$(this).closest('.Field').removeClass('Error');
				}
			}
		});

		$('#form').find('.Required:not([name*="[]"])').each(function(){
			if($(this).hasClass('Select') == true){
				if($(this).find('input').val() == ''){
					$(this).closest('span').addClass('Error');
					$(this).closest('.Field').addClass('Error');
					var error_msg = '';
					$(this).after(error_msg);
					error = 1;
				}
				else{
					$(this).closest('span').removeClass('Error');
					$(this).closest('.Field').removeClass('Error');
				}
			}
			else if($(this).val() == ''){
				$(this).addClass('Error');
				$(this).closest('.Field').addClass('Error');
				var error_msg = '';
				$(this).after(error_msg);
				error = 1;
			}
			else{
				$(this).closest('span').removeClass('Error');
				$(this).closest('.Field').removeClass('Error');
			}
		});

		$('#form').find('input.Email').each(function(){
			if($(this).hasClass('Required') || $(this).val() != '' || $('#Optin_Yes').is(':checked') === true){
				if(validateEmail($(this).val()) === false){
					$(this).addClass('Error');
					$(this).closest('.Field').addClass('ErrorInvalidEmail');
					var error_msg = '';
					$(this).after(error_msg);
					error = 1;
					console.log("invalid email");
				} else{
					$(this).closest('span').removeClass('Error');
					$(this).closest('.Field').removeClass('Error');
				} 
			} 
			if (($(this).val() == '') && ($('#Optin_Yes').is(':checked') === true)) {
				$(this).addClass('Error');
				$(this).closest('.Field').addClass('Error');
				error = 1;
				console.log("optin but no email");
			} else if (($(this).val() != '') && ($('#Optin_Yes').is(':checked') === false)) {
				$('#Optin_Yes').closest('.Field').addClass('Error');
				error = 1;
				console.log("email but no optin");
			}
		});

		$('#form').find('input.Phone').each(function(){
			if($(this).hasClass('Required') || $(this).val() != ''){
				if(validatePhone($(this).val()) === false){
					$(this).addClass('Error');
					$(this).closest('.Field').addClass('Error');
					var error_msg = '';
					$(this).after(error_msg);
					error = 1;
				}
				else{
					$(this).closest('span').removeClass('Error');
					$(this).closest('.Field').removeClass('Error');
				}
			}
		});

		$('#form').find('input#Address1').each(function(){
			//console.log($(this).val())
			//console.log(validateAddress($(this).val()))
			console.log('MUFFIN');
			if($(this).hasClass('Required') || $(this).val() != ''){
				if(validateAddress($(this).val()) === false){
					$(this).addClass('Error');
					$(this).closest('.Field').addClass('Error');
					var error_msg = '';
					$(this).after(error_msg);
					error = 1;
				}
				else{
					$(this).closest('span').removeClass('Error');
					$(this).closest('.Field').removeClass('Error');
				}
			}
		});		

		$('#form').find('input#Zip').each(function(){
			if($(this).hasClass('Required') || $(this).val() != ''){
				console.log();
				if(validateZip($(this).val()) === false){
					$(this).addClass('Error');
					$(this).closest('.Field').addClass('Error');
					var error_msg = '';
					$(this).after(error_msg);
					error = 1;
				}
				else{
					$(this).closest('span').removeClass('Error');
					$(this).closest('.Field').removeClass('Error');
				}
			}
		});

		if(error == 0){
			return true;
		}
		else
			return false;
	}

	function validateAddress(address) {
		var regex = /^([0-9]{1,})\s([0-9 A-Z a-z .-]{1,})+$/;
		console.log(regex.test( address ));
		return regex.test( address );
	}

	function validateEmail(email) {
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		// var superEmailReg = [a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?;
		//var emailReg = /^.*?@.*?\..*$/;
		return regex.test( email );
	}

	function validatePhone(phone) {
		number = phone.replace(/\D/g,'');
		if( number.length == 10 ) {
			return true;
		} else {
			return false;
		}
	}

	function validateZip(zip) {
		zip = zip.replace(/\D/g,'');
		if( zip.length == 5 ) {
			return true;
		} else {
			return false;
		}
	}

	function requiredCheck() {
		var status = true;
		if($('input:checkbox:checked').length > 0)
			$('.Required:checkbox').parent().parent().find('.errorSpan').fadeOut('fast');
		else {
			if($(window).width() >= 400)
				$('.Required:checkbox').parent().parent().find('.errorSpan').fadeIn('fast');
			else
				$('.Required:checkbox').parent().parent().find('.errorSpan').fadeIn('fast');
			status = false;
		}
		$('.Required:not(:checkbox)').each(function() {
			if(!$(this).val()){
				$(this).parent().find('.errorSpan').fadeIn('fast');
				status = false;
			}
			else{
				$(this).parent().find('.errorSpan').fadeOut('fast');
			}
		});
		$('.Email').each(function() {
			if(!validateEmail($(this).val())){
				$(this).siblings('span:contains(Invalid)').fadeIn('fast');
				$(this).closest('.Field').addClass('Error');
				status = false;
			}
			else {
				$(this).siblings('span:contains(Invalid)').fadeOut('fast');
			}
		});
		$('.Address1').each(function() {
			if(!validateAddress($(this).val())){
				$(this).siblings('span:contains(Invalid)').fadeIn('fast');
				$(this).closest('.Field').addClass('Error');
				status = false;
			}
			else {
				$(this).siblings('span:contains(Invalid)').fadeOut('fast');
			}
		});		
		$('input[name*="conf"]').each(function() {
			var first = $(this).siblings('input[name="'+$(this).attr('name').replace('(conf)', '')+'"]').val();
			if(first != $(this).val()) {
				$(this).parent().find('span:contains(do not match)').fadeIn('fast');
			}
			else {
				$(this).parent().find('span:contains(do not match)').fadeOut('fast');
			}
		});
		return status;
	}


});
</script>	</div>

	<div class="Clear"></div>
</div>


