@font-face {
	font-family: 'FordAntenna Light';
	src: url('FordAntenna Light.eot'); /* IE9 Compat Modes */
	src: url('FordAntenna Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('FordAntenna Light.woff') format('woff'), /* Pretty Modern Browsers */
		 url('FordAntenna Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'FordAntenna LightItalic';
	src: url('FordAntenna LightItalic.eot'); /* IE9 Compat Modes */
	src: url('FordAntenna LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('FordAntenna LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('FordAntenna LightItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'FordAntenna Medium';
	src: url('FordAntenna Medium.eot'); /* IE9 Compat Modes */
	src: url('FordAntenna Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('FordAntenna Medium.woff') format('woff'), /* Pretty Modern Browsers */
		 url('FordAntenna Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'FordAntenna MediumItalic';
	src: url('FordAntenna MediumItalic.eot'); /* IE9 Compat Modes */
	src: url('FordAntenna MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('FordAntenna MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('FordAntenna MediumItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'FordAntenna Semibold';
	src: url('FordAntenna Semibold.eot'); /* IE9 Compat Modes */
	src: url('FordAntenna Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('FordAntenna Semibold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('FordAntenna Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'FordAntenna SemiboldItalic';
	src: url('FordAntenna SemiboldItalic.eot'); /* IE9 Compat Modes */
	src: url('FordAntenna SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('FordAntenna SemiboldItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('FordAntenna SemiboldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*@font-face {
/*	font-family: 'FordAntenna Black';
/*	src: url('FordAntenna Black.eot'); /* IE9 Compat Modes */
/*	src: url('FordAntenna Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
/*		 url('FordAntenna Black.woff') format('woff'), /* Pretty Modern Browsers */
/*		 url('FordAntenna Black.svg#svgFontName') format('svg'); /* Legacy iOS */
/*} */

@font-face {
	font-family: 'FordAntenna BlackItalic';
	/*src: url('FordAntenna BlackItalic.eot'); /* IE9 Compat Modes */
	/*src: url('FordAntenna BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	src:	 url('FordAntenna BlackItalic.svg') format('svg');
		 /*url('FordAntenna BlackItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
		 /*url('FordAntenna BlackItalic.woff') format('woff'); /* Pretty Modern Browsers */		 
}

@font-face {
	font-family: 'FordAntenna Bold';
	src: url('FordAntenna Bold.eot'); /* IE9 Compat Modes */
	src: url('FordAntenna Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('FordAntenna Bold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('FordAntenna Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}