* {
	margin: 0;
	padding: 0;
}



html {
    background: #000;
}

body {
	width: 1280;
	height: 800;
	background-color: #F7F7F7;
	font-family: 'FordAntenna Medium';
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.Clear {
	clear: both;
}

.CenterY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
}
.CenterX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);	
}
.CenterB {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.FillX {
	width: 100%;
}

.FloatR {
	float: right;
	font-family: 'FordAntenna MediumItalic';
}
.FloatL {
	float: left;
}


/***** BUTTONS *****/

.Submit, .Button {
	width: 343px;
	height: 62px;
	margin: 20px auto;	
	border: 2px solid #fff;
	border-radius: 5px;
	background-image: url(./submit.png);
	margin-top: 40px;
	overflow: hidden;
}

.Submit input {
	background-color: transparent;
	padding: 0px;
	border: 0;
	cursor: pointer;
	display: block;
	width: auto;
	margin: 0 auto;
}

.Wrap {
	height: calc(100% - 180px);
	//background-color: #06a7e2;
	background-color: transparent;
	position: relative;
}


.Register div.Form {
	width: 70%;
	top: 55%;
}

div.Form {
	width: 60%;
	margin: 0 auto;
	height: 500px;
	position: absolute;
}

select {
	width: 33%;
	display: block;
	background-color: #96979A;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	color: white;
	border: 1px solid #fff;
	font-family: 'FordAntenna Medium';
	cursor: pointer;
}

select option {
    background-color: white;
    color: black;
}
 
/***** Vehicles of Interest *****/

.VehiclesofInterest {
	max-width: 100%;
	margin: 0 auto;
}

.VehiclesofInterest .Form {
	width: 100%;
	max-width: 1278px;
	margin: 0 auto;
	position: relative;
}

.VehiclesofInterest div.Form {
	width: 882px;
	height: 840px;
	top: 3%;
}

.VehiclesofInterest .Title {
	font-size: 18px;
	line-height: 20px;
	font-family: 'FordAntenna Bold';
	text-decoration: none;
	font-style: normal;
	text-align: left;
}

.VehiclesofInterest .SubTitle {
	font-size: 14px;
	line-height: 20px;
	color: black;
	font-family: 'FordAntenna Medium';
}

.VehiclesofInterest .Field {
	text-align: left;
	padding-top: 10px;
}

.VehiclesofInterest .Label {
	color: black;
}
.VehiclesofInterest .Label span {
	color: black;
}

.VehiclesofInterest span.FloatL {
	margin-right: 10px;
}
.VehiclesofInterest span.FloatR {
	margin-left: 10px;
}
.leaderline {
	border-bottom: 2px solid black;
	   display: block;
    overflow: auto;
    position: relative;
    top: -7px;
}

.VOI {
	border: 2px solid #fff;
	background: #999A9D;
	border-radius: 8px;
	display: inline-block;
	margin: 3px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	vertical-align: top;
	text-align: center;
}

.VOI span {
	color: #fff;

	text-transform: uppercase;
	text-align: center;

	font-family:  'FordAntenna Medium' ;
	font-size: 10px;
	//letter-spacing: 0.5px;
	line-height: 30px;
	display: block;
	//max-width: 128px;
	width: 112px;
	padding: 0 5px;

	margin: 0 auto;
}

.VOI img {
	display: block;
	padding: 0 10px;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	width: 112px;
	height: 70px;
	object-fit: contain;
}

.VOI input[type="checkbox"] {
	display: none;
}

.VOI.Checked {
	background: #C34933;
}


@media (min-height: 900px) {
	body {
		width: 100%;
		height: 100%;
		background-position: top center !important;
	}

	.Home {
		background-position: top center !important;
	}

	.Home .Title {
		padding-top: 275px;
	}

	.Home #Cars {
		top: 640px;
	}
	div#PreFooter {
		bottom: 40px;
	} 

}