/*////////////// CSS //////////////////////////*/


/*- General Use--------------------------- */

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background:#fff;
}

#topbar {
	width: 100%;
	height: 60px;
	background: #000;
	z-index: 200;
	position: fixed;
	left: 0;
	top: 0;
}

#header {
	width: 1024px;
	height: 60px;
	z-index: 205;
	position: fixed;
	top: 0;	
	left:50%;
	transform: translateX(-50%);

}

#logo {
	width: 85px;
	height: 85px;
	background-image:url(../images/bft_logo-01.png);
	background-repeat: no-repeat;
	z-index: 205;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 15px;
}

#tagline {
	width: 450px;
	height: 25px;
	float:left;
	margin-top: 14px;
	margin-left: 100px;
	background-image:url(../images/header.png);
	background-repeat: no-repeat;
}

#nav {
	width: 375px;
	height: 25px;
	margin-top: 20px;
	float:right;
}

.navtext {
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 14px;
	display:inline;
	margin-right: 20px;
	cursor:pointer;
}

.navtext:hover {
	
	color: #999;	
	
}

a:focus{ outline:0; }

a.navlink:link { color: white; }
a.navlink:visited { color: white; }
a.rules:link { color: black; }
a.rules:visited { color: black; }
a.rules-white:link { color: white; }
a.rules-white:visited { color: white; }

#video {
	width: 100%;
	height: 800px;
	position: relative;
    overflow: hidden;
	z-index: 1;

}

#bgvid { 
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}

#videooverlay {
z-index: 2; 
position: absolute; 
top: 0; 
left: 0; 
height: 100%; 
width: 100%;    
background-color: black;
opacity: 0.50;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50); 
}

#future {
	width: 310px;
	height: 170px;
	margin: 90px auto 0px auto;
	background-image:url(../images/future-tough.png);
	background-repeat: no-repeat;
	z-index: 30;
	position:relative;
}


#enter {
	width: 400px;
	height: 30px;
	margin: 60px auto 100px auto;
	z-index: 30;
	position:relative;
	text-align:center;
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 40px;
	font-weight: 600;
}


#scroll {
	width: 400px;
	height: 30px;
	margin: 0px auto 20px auto;
	z-index: 30;
	position:relative;
	text-align:center;
	color: #999;
	font-family: franklin_gothic_fsbook;
	font-size: 14px;
	font-weight: 600;
}


#scroll-arrow {
	width: 400px;
	height: 30px;
	margin: 15px auto 50px auto;
	z-index: 30;
	position:relative;
	text-align:center;
	color: #999;
	font-family: franklin_gothic_fsbook;
	font-size: 15px;
	font-weight: 600;
}


#disclaimer {
	width: 400px;
	height: 30px;
	margin: 70px auto 0px auto;
	z-index: 30;
	position:relative;
	text-align:center;
	color: #999;
	font-family: franklin_gothic_fsbook;
	font-size: 14px;
	font-weight:bold;
}


#maincontent {
	width: 100%;
	height: 800px;
	border: solid 1px #fff;

}

#contentdiv {
	width: 950px;
	height: 550px;
	margin: 170px auto 0px auto;
}

.headers {
	color: #c63e25;
	font-family: franklin_gothic_fsbook;
	font-size: 35px;
	font-weight: 800;
}


.maincontent {
	color: #000;
	font-family: franklin_gothic_fsbook;
	font-size: 18px;
	width: 370px;
	padding-top: 20px;
	float:left;
	line-height: 25px;
	height: 400px;
}

#formarea {
	width: 100%;
	height: 950px;
	background-color: #4d4d4d;
	border: solid 1px #4d4d4d;

}

#contentform {
	width: 950px;
	height: 700px;
	margin: 150px auto 0px auto;

}

.headers-white {
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 35px;
	font-weight: 800;
}


.headers-white-thanks {
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 55px;
	font-weight: 800;
}


.small-headers-white {
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 25px;
	font-weight: 800;
}


.small-headers-orange {
	color: #C63E25;
	font-family: franklin_gothic_fsbook;
	font-size: 20px;
	font-weight: 800;
}

.maincontentform {
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 16px;
	padding-top: 20px;
	line-height: 25px;
}


input[type="text"]{ 
	padding:10px; 
	color:#5B5C5D; 
	width:400px;
	margin-right: 20px;
	margin-top: 20px;
}

.smallform {
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 14px;
	margin-top: 10px;
	float:left;
}
.subtext {
	visibility: hidden;
	color: #ccc;
    font-family: franklin_gothic_fsbook;
    font-size: 14px;	
    padding-left: 29px;
}

#features {
	width: 100%;
	height: 750px;
	background-color: #7f7f7f;
	border: solid 1px #7f7f7f;

}

#contentfeatures {
	width: 950px;
	height: 550px;
	margin: 150px auto 0px auto;
}

.imgheaders {
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 22px;
	font-weight: 800;
	padding-top: 10px;
	float: left;
	margin-right: 29px;
	width: 290px;
}


#social {
	width: 100%;
	height: 205px;
	background-color: #414042;
	border: solid 1px #414042;

}

#contentsocial {
	width: 950px;
	height: 175px;
	margin: 30px auto 0px auto;
	text-align:center;
	color: #fff;
	font-family: franklin_gothic_fsbook;	
}

#footer {
	width: 100%;
	height: 100px;
	background-color: #000;

}

#contentfooter {
	width: 950px;
	height: 80px;
	margin: auto;
	color: #fff;
	font-family: franklin_gothic_fsbook;
	font-size: 10px;
	padding-top: 40px;
}